/* Global styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'DM Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* Improve font rendering on mobile devices */
@media (max-width: 767px) {
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
  
  /* Prevent font blurriness on mobile */
  h1, h2, h3, h4, h5, h6, p, span, a, button, li {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
  }
}

/* Content container: 200px padding from left and right */
.content-padding {
  padding-left: 200px;
  padding-right: 200px;
}

/* Responsive: reduce padding on smaller screens */
@media (max-width: 1400px) {
  .content-padding {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 1024px) {
  .content-padding {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 768px) {
  .content-padding {
    padding-left: 20px;
    padding-right: 20px;
  }
}

